<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-brand" [routerLink]="'/'">
      <a>
        <h1>
          天天菜园
        </h1>
        <h2>
          <span>D</span>aily<span>G</span>reens.shop
        </h2>
      </a>
    </div>
    <div>
      <a [routerLink]="'/customers/log-in'">登录</a>
      <span class="glyphicon glyphicon-shopping-cart">0</span>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>
    还不是客户吗？
    <a [routerLink]="'/customers/sign-up'">注册</a>
  </div>
  <div>
    &copy;2016-2017 DailyGreens.shop
  </div>
</footer>
