/*商品名称和描述*/
.nameDescription {
  float: right;
}

.nameDescription > div {
  margin-bottom: 5px;
}

.nameDescription > div > *:first-child {
  font-size: 12px;
}

.nameDescription > div > span:last-child {
  font-size: 15px;
  font-weight: bold;
}

@media(max-width:992px) {
  .nameDescription {
    margin-bottom: 15px;
  }
}

/*商品图片容器*/
.wareImageContainer {
  text-align: center;
  float: left;
}

/*商品图片*/
.wareImageContainer img {
  width: 65%;
}

/*其它属性等*/
.rest {
  margin-top: 15px;
  float: right;
}

.rest > .row {
  margin-top: 5px;
}

.rest > .row:last-child > div {
  margin-bottom: 10px;
}

@media(max-width:992px) {
  .rest > div.row > div.col-xs-6:first-of-type {
    text-align: right;
  }
}

/*下单配送时间*/
.tip {
  margin-top: 15px;
  float: right;
}

.tip > .row {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 15px;
  width: 60%;
}

.tip span {
  color: #008a00;
}

@media(max-width:992px) {
  .tip > .row {
    margin: 0;
    width: auto;
  }
}

/*添加到购物车*/
.addToCart {
  margin-top: 15px;
}

.addToCart .row > div:first-child {
  margin-top: 10px;
}

.addToCart .btn {
  background: #f0c14b;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-color: #f7dfa5;
  color: black;
  font-size: 16px;
  height: 40px;
  width: 120px;
}

@media(max-width:992px) {
  .addToCart .row > div:last-child {
    margin-top: 10px;
  }

  .addToCart .btn {
    width: 100%;
    height: 50px;
  }
}

/*输入框*/
.form-control {
  height: 30px;
  width: 80px;
  display: inline;
}

/*低价价格样式*/
.cheap {
  color: #B12704;
  font-size: 14px;
  font-weight: bold;
}

/*畅销商品库存样式*/
.sellingOut{
  color: #B12704;
  font-weight:bold;
}

.row {
  display: block;
  flex-wrap: unset;
}

.row > [class*='col-'] {
  display: block;
  flex-direction: unset;
}

/*添加商品到购物车提示*/
@keyframes message-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.message {
  animation: message-show .5s;
  position: absolute;
  width: 100px;
  height: 60px;
  border-radius: 3px;
  background-color: rgba(50, 50, 50, .7);
  top: calc(50% - 30px);
  left: calc(50% - 50px);
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 23px;
}
